ion-header {

  ion-toolbar, ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
    letter-spacing: 4px;
    font-family: 'ShadowsIntoLight-Regular'!important;
    font-size: 22px;
    font-weight: 400;
  }
}