<div>
  <ion-grid
    [fixed]="true"
    style="background-color: #255173"
    class="footer-header"
  >
    <ion-row>
      <ion-searchbar></ion-searchbar>
    </ion-row>
    <ion-row><br /></ion-row>
    <ion-row>
      <ion-col>Kontakt</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Impressum</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>AGB</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Privacy Policy Shop</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Wir nutzen den Google Translator!</ion-col>
    </ion-row>
    <ion-row class="icon">
      <ion-col size="4">
        <ion-icon name="logo-paypal" size="large"></ion-icon>
      </ion-col>
      <ion-col size="4"
        ><ion-icon name="logo-facebook" size="large"></ion-icon
      ></ion-col>
      <ion-col size="4"
        ><ion-icon name="logo-instagram" size="large"></ion-icon
      ></ion-col>
    </ion-row>
  </ion-grid>
</div>
