.plannigArray{
    .title-cours{
        background-color: #0a5173 !important;
        color: white;
        border-bottom:0.5px solid white ;
    }

}
ion-header,ion-toolbar{
    --background:#4a7e97;
    color: white;

}
.line{
    border-bottom:0.5px solid white 

}
div,ion-grid{
 height: 100%;

}

.buttons ion-col, .plannigArray ion-col {
text-align: center;
}
.price-date{
 text-align: left !important;
}
.sub-title{
    font-weight: 700;

}
.price{
    text-align: center !important;
}
.ion-color-favorite {
    --ion-color-base: #346fb0;
    --ion-color-base-rgb: 0,102,0;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade:  #346fb0;
    --ion-color-tint:  #346fb0 ;
  }