.plannigArray{
    .title-cours{
        background-color: #0a5173 !important;
        color: white;
        border-bottom:0.5px solid white ;
    }

}
ion-header,ion-toolbar{
    --background:#4a7e97;
    color: white;

}
.line{
    border-bottom:0.5px solid white 

}
div,ion-grid{
    height: 100%;

}

.buttons ion-col, .plannigArray ion-col {
text-align: center;
}
.price-date{
 text-align: left !important;
}
.sub-title{
    font-weight: 700;

}
.price{
    text-align: center !important;
}