ion-item.inputs-item{
    border: 0.5px solid rgb(184, 181, 181);
}
ion-select,ion-input{
    width: 100%;
  
  }
.error-message{
    color: rgb(174, 61, 61) !important;
}

div,ion-grid{
    height: 100%;

}

.ion-color-favorite {
    --ion-color-base: #346fb0;
    --ion-color-base-rgb: 0,102,0;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade:  #346fb0;
    --ion-color-tint:  #346fb0 ;
  }

