<ion-content>
  <form
    [formGroup]="angForm"
    (ngSubmit)="onSubmit()"
    *ngIf="hiddenForm == false && paymentMethod == 'transfertBank'"
    novalidate
  >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-toolbar>
            <ion-title size="large" class="ion-text-center">
              Rechnungsdetails
            </ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <div *ngFor="let input of ListOfInputs">
        <ion-row class="ion-margin" ngFor="let error of inputError">
          <ion-col size="12">
            <ion-label>{{ input.label }}</ion-label>
            <ion-item
              *ngIf="
                  input.type != 'checkbox' && input.type != 'moreOnecheckbox'
                "
              class="inputs-item"
            >
              <ion-input
                *ngIf="
                    input.type == 'text' ||
                    input.type == 'date' ||
                    input.type == 'tel'
                  "
                class="form-control"
                formControlName="{{ input.name }}"
                type="{{ input.type }}"
                position="stacked"
                clearInput="false"
              ></ion-input>
              <ion-textarea *ngIf="input.type == 'textarea'"> </ion-textarea>
            </ion-item>
            <ion-list *ngIf="input.type == 'moreOnecheckbox'">
              <ion-radio-group formControlName="{{input.name}}">
                <ion-item *ngFor="let choice of input.choices">
                  <ion-label class="ion-text-wrap">{{choice}}</ion-label>
                  <ion-radio
                    allow-empty-selection="false"
                    value="{{choice}}"
                    slot="start"
                  ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>

            <div
              *ngIf="
                  angForm.controls[input.name].invalid &&
                  (angForm.controls[input.name].dirty ||
                    angForm.controls[input.name].touched)
                "
              class="validation-errors"
            >
              <div
                *ngIf="angForm.controls[input.name].errors.required"
                class="error-message sc"
              >
                {{ inputsError[input.name][0]["message"] }}
              </div>
              <div
                *ngIf="angForm.controls[input.name].errors.pattern"
                class="error-message"
              >
                {{ inputsError[input.name][1]["message"] }}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col class="ok-container">
          <ion-button
            type="submit"
            [disabled]="angForm.pristine || angForm.invalid"
            class="btn btn-success"
            expand="block"
            size="small"
          >
            Weiter
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col
        class="payment-response ion-padding"
        *ngIf="serverResponse.length>0"
      >
        <b> {{serverResponse}}</b>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
