<app-header></app-header>

<ion-content *ngIf="bodyCours">
  <div class="cours-header-content">
    <div class="cours-title-principal-container">
      <h1 class="cours-principal-title">{{coursTitle}}</h1>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="image-container">
          <ion-img src="{{bodyCours.image_url}}" *ngIf="bodyCours.image_url">
          </ion-img>
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf=" coursTitle != 'Bewerbung'">
      <ion-col>
        <div [innerHtml]="bodyCours"></div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf=" coursTitle == 'Bewerbung'">
      <ion-col>
        <div [innerHtml]="firstBewerbung"></div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="coursTitle == 'Bewerbung'">
      <form
        [formGroup]="angForm"
        (ngSubmit)="onSubmit()"
        novalidate
        class="ion-padding"
        *ngIf="serverResponse.length == 0"
      >
        <div *ngFor="let input of ListOfInputs">
          <ion-col size="6">
            <ion-label class="ion-text-wrap">{{input.label}}</ion-label>

            <ion-item>
              <ion-input
                *ngIf="input.type != 'textarea'"
                class="form-control"
                type="{{input.type}}"
                position="stacked"
                clearInput="false"
                placeholder="Enter Your {{input.name}}"
                formControlName="{{input.name}}"
              ></ion-input>
              <ion-textarea
                *ngIf="input.type == 'textarea'"
                formControlName="{{input.name}}"
                clearInput="false"
                placeholder="Enter more information here..."
              ></ion-textarea>
            </ion-item>
            <div
              *ngIf="angForm.controls[input.name].invalid && (angForm.controls[input.name].dirty || angForm.controls[input.name].touched )"
              class="validation-errors"
            >
              <div
                *ngIf="angForm.controls[input.name].errors.required"
                class="error-message sc"
              >
                {{inputsError[input.name][0]["message"]}}
              </div>
              <div
                *ngIf="angForm.controls[input.name].errors.pattern"
                class="error-message"
              >
                {{inputsError[input.name][1]["message"]}}
              </div>
            </div>
          </ion-col>
        </div>
        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              [disabled]="angForm.pristine || angForm.invalid"
              class="btn btn-success"
              expand="block"
            >
              Absenden
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
    <ion-row *ngIf=" coursTitle == 'Bewerbung'">
      <ion-col>
        <div [innerHtml]="secondBewerbung"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="serverResponse.length > 0">
        <ion-text><b>{{serverResponse}}</b></ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="notFound">
      <div class="not-found" [innerHTML]="notFound"></div>
    </ion-row>
    <div *ngIf="availableCours && subscribeMsg.length <= 0 ">
      <p>{{availableCours.coursEmplacement}}</p>
      <div class="coursesList" *ngFor="let cours of availableCours.Courses">
        <ion-row>
          <ion-col class="title-cours" size="6">KursNr</ion-col>
          <ion-col size="6">{{cours.KursNr}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours" size="6">Kursbezeichnung</ion-col>
          <ion-col size="6">{{cours.Kursbezeichnung}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours" size="6">Kursbeginn</ion-col>
          <ion-col size="6">{{cours.Kursbeginn}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours" size="6">Uhrzeit</ion-col>
          <ion-col size="6">{{cours.Uhrzeit}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours" size="6">Anmeldestand</ion-col>
          <ion-col size="6">{{cours.Anmeldestand}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!--<ion-button
              expand="full"
              (click)="presentModal(cours.button.KursNr,cours.button.KursBezID,cours.button.Aktion)"
              >{{cours.button.label}}</ion-button
            >-->
            <ion-button
              expand="full"
              (click)="presentSlide(cours.button.KursNr,cours.button.KursBezID,cours.button.Aktion)"
              >{{cours.button.label}}</ion-button
            >
          </ion-col>
        </ion-row>
      </div>
      <p *ngIf="availableCours" [innerHTML]="availableCours.note"></p>
    </div>
    <ion-row>
      <ion-col class="not-found" [innerHtml]="subscribeMsg"> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
