<app-header></app-header>

<ion-content *ngIf="bodyCours">
  <div class="container-loading" *ngIf="loading == false">
    <ion-spinner
      name="lines"
      position="stacked"
      *ngIf="loading == false"
    ></ion-spinner>
  </div>
  <div class="cours-header-content" *ngIf="loading == true">
    <div class="cours-title-principal-container">
      <h1 class="cours-principal-title">{{coursTitle}}</h1>
    </div>
  </div>
  <ion-grid *ngIf="loading == true">
    <ion-row>
      <ion-col>
        <p class="image-container">
          <ion-img src="{{bodyCours.image_url}}" *ngIf="bodyCours.image_url">
          </ion-img>
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div [innerHtml]="bodyCours"></div>
      </ion-col>
    </ion-row>
    <div *ngIf="availableCours">
      <p>{{availableCours.coursEmplacement}}</p>
      <div class="coursesList" *ngFor="let cours of availableCours.Courses">
        <ion-row>
          <ion-col class="title-cours">KursNr</ion-col>
          <ion-col>{{cours.KursNr}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours">Kursbezeichnung</ion-col>
          <ion-col>{{cours.Kursbezeichnung}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours">Kursbeginn</ion-col>
          <ion-col>{{cours.Kursbeginn}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours">Uhrzeit</ion-col>
          <ion-col>{{cours.Uhrzeit}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours">Anmeldestand</ion-col>
          <ion-col>{{cours.Anmeldestand}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="presentModal()"
              >Kurs buchen</ion-button
            >
          </ion-col>
        </ion-row>
      </div>
      <p *ngIf="availableCours" [innerHTML]="availableCours.note"></p>
    </div>
  </ion-grid>

  <app-footer *ngIf="loading == true"></app-footer>
</ion-content>
