<app-header></app-header>

<ion-content *ngIf="bodyCours">
  <div class="container-loading" *ngIf="loading == false">
    <ion-spinner
      name="lines"
      position="stacked"
      *ngIf="loading == false"
    ></ion-spinner>
  </div>
  <div class="cours-header-content">
    <div class="cours-title-principal-container">
      <h1 class="cours-principal-title">{{coursTitle}}</h1>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="image-container">
          <ion-img src="{{bodyCours.image_url}}" *ngIf="bodyCours.image_url">
          </ion-img>
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div [innerHtml]="bodyCours"></div>
      </ion-col>
    </ion-row>

    <div class="coursesList" *ngFor="let cours of chosenCorse">
      <ion-row>
        <ion-col class="title-cours">KursNr</ion-col>
        <ion-col>{{cours['0']}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title-cours">Kursbezeichnung</ion-col>
        <ion-col>{{cours['1']}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title-cours">Kursbeginn</ion-col>
        <ion-col>{{cours['2']}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title-cours">Uhrzeit</ion-col>
        <ion-col>{{cours['3']}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="title-cours">Anmeldestand</ion-col>
        <ion-col>{{cours['4']}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="presentModal()"
            >Kurs buchen</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
