<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Shop</ion-title>
    <ion-button color="clear" size="small" slot="end" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list class="list">
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2" class="ion-text-center">
              <ion-button
                color="medium"
                fill="clear"
                (click)="decreaseCartItem(p)"
              >
                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              {{p.qtyCommanded}}
            </ion-col>
            <ion-col size="1" class="ion-text-center">
              <ion-button
                color="medium"
                fill="clear"
                (click)="increaseCartItem(p)"
              >
                <ion-icon name="add-circle" slot="icon-only"> </ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="1" offset="5">
              <ion-button
                color="medium"
                fill="clear"
                (click)="removeCartItem(p)"
              >
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <b>{{p.name}}</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{p.qtyCommanded * p.price | currency:'USD'}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9"> Totale : </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{ getTotale() | currency:'USD' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row *ngIf="cart.length>0">
            <ion-col size="10">
              <ion-list>
                <ion-radio-group>
                  <ion-list-header>
                    <ion-label>Zahlungsart : </ion-label>
                  </ion-list-header>

                  <ion-item>
                    <ion-label>Paypal</ion-label>
                    <ion-radio
                      slot="start"
                      (click)="selectCheckBox('paypal')"
                    ></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Weiter zur kasse</ion-label>
                    <ion-radio
                      slot="start"
                      (click)="selectCheckBox('transfertBank')"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <app-payment-form
      *ngIf="cart.length>0"
      [paymentMethod]="paymentMethod"
      [total]="total"
      [purchaseUnits]="purchaseUnits"
    ></app-payment-form>
  </div>
</ion-content>
