<ion-header color="favorite">
  <ion-toolbar color="favorite">
    <ion-title>Shop</ion-title>
    <ion-button color="clear" size="small" slot="end" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="container-loading"
    *ngIf="loading == true"
    style="height: 100%; background-color: white"
  >
    <ion-spinner name="lines" position="stacked"></ion-spinner>
  </div>
  <div *ngIf="loading == false" class="ion-padding">
    <!-- <ion-list class="list">
      <ion-toolbar>
        <ion-title size="large" class="ion-text-center"> Warenkorb </ion-title>
      </ion-toolbar>
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2" class="ion-text-center">
              <ion-button
                color="medium"
                fill="clear"
                (click)="decreaseCartItem(p)"
              >
                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2" class="ion-text-center">
              {{p.qtyCommanded}}
            </ion-col>
            <ion-col size="1" class="ion-text-center">
              <ion-button
                color="medium"
                fill="clear"
                (click)="increaseCartItem(p)"
              >
                <ion-icon name="add-circle" slot="icon-only"> </ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="1" offset="5">
              <ion-button
                color="medium"
                fill="clear"
                (click)="removeCartItem(p)"
              >
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <b>{{p.name}}</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{p.qtyCommanded * p.price | currency:'EUR'}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9"> Totale : </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{ getTotale() | currency:'EUR' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row *ngIf="cart.length>0">
            <ion-col size="10">
              <ion-list>
                <ion-radio-group>
                  <ion-list-header>
                    <ion-label>Zahlungsart : </ion-label>
                  </ion-list-header>

                  <ion-item>
                    <ion-label>Paypal</ion-label>
                    <ion-radio
                      slot="start"
                      (click)="selectCheckBox('paypal')"
                    ></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Weiter zur kasse</ion-label>
                    <ion-radio
                      slot="start"
                      (click)="selectCheckBox('transfertBank')"
                    ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>-->

    <div *ngIf=" cart.length > 0">
      <ion-toolbar>
        <ion-title size="large" class="ion-text-center title-section">
          Warenkorb
        </ion-title>
      </ion-toolbar>
      <div class="productList" *ngFor="let p of cart">
        <ion-row>
          <ion-col class="title-cours ion-padding" size="6">Produkt</ion-col>
          <ion-col size="6" class="ion-padding product-name"
            ><ion-img [src]="p.images[0].src"></ion-img>
            <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">
              <ion-icon name="close-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours ion-padding" size="6"
            >Produkt Name</ion-col
          >
          <ion-col class="ion-text-wrap ion-text-center ion-padding" size="6"
            >{{p.name}}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col class="title-cours ion-padding" size="6">Preis</ion-col>
          <ion-col size="6" class="ion-text-center ion-padding"
            >{{p.price | currency:'EUR'}}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col class="title-cours ion-padding" size="6">Anzahl</ion-col>
          <ion-col size="6" class="ion-text-center ion-padding">
            <ion-button
              color="medium"
              fill="clear"
              (click)="decreaseCartItem(p)"
            >
              <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
            </ion-button>
            <span>{{p.qtyCommanded}}</span>
            <ion-button
              color="medium"
              fill="clear"
              (click)="increaseCartItem(p)"
            >
              <ion-icon name="add-circle" slot="icon-only"> </ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours ion-padding" size="6"
            >Zwischensumme</ion-col
          >
          <ion-col size="6" class="ion-text-center ion-text-wrap ion-padding"
            >{{p.qtyCommanded * p.price | currency:'EUR'}}
          </ion-col>
        </ion-row>
      </div>
      <ion-toolbar>
        <ion-title size="large" class="ion-text-center title-section">
          WARENKORB-SUMME
        </ion-title>
      </ion-toolbar>
      <div class="productList">
        <ion-row>
          <ion-col class="title-cours ion-padding" size="5">
            Zwischensumme</ion-col
          >
          <ion-col class="ion-text-center ion-padding title-cours" size="7">
            {{ getTotale() | currency:'EUR' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours ion-padding" size="5">Versand</ion-col>
          <ion-col size="7" class="ion-text-center">
            <ion-list>
              <ion-radio-group value="Versandkostenpauschale">
                <ion-item>
                  <ion-label class="ion-text-wrap"
                    >Versandkostenpauschale: €4,75
                  </ion-label>
                  <ion-radio
                    slot="start"
                    (click)="setDelivery(true)"
                    value="Versandkostenpauschale"
                  ></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap">Abholung vor Ort </ion-label>
                  <ion-radio
                    slot="start"
                    (click)="setDelivery(false)"
                  ></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label class="ion-text-wrap"
                    >online kostenlos nach bezahlen
                  </ion-label>
                  <ion-radio
                    slot="start"
                    (click)="setDelivery(false)"
                  ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="title-cours ion-padding" size="5"
            >Gesamtsumme</ion-col
          >
          <ion-col class="ion-text-center title-cours ion-padding" size="7">
            <span> {{getLastTotale() | currency:'EUR'}} </span>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="paypal-container" *ngIf=" cart.length > 0">
    <div>
      <ion-button color="dark" expand="block" (click)="presentSlide()">
        Weiter zur Kasse</ion-button
      >
    </div>
    <div class="divider ion-padding">
      <span>— OR — </span>
    </div>
    <div>
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 size="large" class="ion-text-center">Warenkorb</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-center">Dein Warenkorb ist gegenwärtig leer.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button routerLink="/shop" (click)="close()">
          Zurück zum Shop
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
