.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    min-height: 200px;
    .logo-section__wrapper{
        text-align: center;
        .logo-section__logo{
            display: block;
            width: 150px;
            height: 150px;
            border-radius: 100%;
        }
        .logo-section__title{
            font-size: 1.5rem;
            font-weight: normal;
            color: var(--text-color);
        }
    }
}

.active{
    --ion-text-color: var(--ion-color-primary);
    ion-icon{
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}
.active-parent{
    font-weight:500;
}
.sub-item{
    padding-left: 10%;
    font-size: small;
}
.icon-container{
    height: 85%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dfe1e652;
    border-radius: 16%;
    margin-left: 30px;
    margin:5%;
}
ion-icon{
 color:#1d70b8;
}


