<ion-menu menuId="main-menu" content-id="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="logo-section">
    <div class="logo-section__wrapper">
      <img class="logo-section__logo" src="./assets/images/logo.png" />
      <h3 class="logo-section__title">"Wasserschule"</h3>
    </div>
  </div>
  <ion-content>
    <div *ngFor="let page of navigate">
      <ion-menu-toggle>
        <ion-item
          [routerLink]="page.url"
          routerDirection="root"
          routerLinkActive="active"
          *ngIf="page.children?.length==null"
        >
          <ion-icon [name]="page.icon" slot="start"></ion-icon>
          <ion-label>{{page.label}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item
        button
        *ngIf="page.children?.length>0"
        (click)="page.open=!page.open"
        [class.active-parent]="page.open"
        detail="false"
      >
        <ion-icon
          name="arrow-forward"
          slot="start"
          *ngIf="!page.open"
        ></ion-icon>
        <ion-icon name="arrow-down" slot="start" *ngIf="page.open"></ion-icon>
        <ion-label>{{page.label}}</ion-label>
      </ion-item>
      <ion-list class="sub-item" *ngIf="page.open">
        <div *ngFor="let child of page.children">
          <ion-item
            (click)="onSelectCours(page.title,child.title,child.id)"
            routerDirection="root"
            routerLinkActive="active"
            *ngIf="child.subChildren?.length==null"
          >
            <ion-icon [name]="child.icon" slot="start"> </ion-icon>
            <ion-label> {{child.label}} </ion-label>
          </ion-item>
          <ion-item
            button
            *ngIf="child.subChildren?.length>0"
            (click)="child.open=!child.open"
            [class.active-parent]="child.open"
            detail="false"
          >
            <ion-icon
              name="arrow-forward"
              slot="start"
              *ngIf="!child.open"
            ></ion-icon>
            <ion-icon
              name="arrow-down"
              slot="start"
              *ngIf="child.open"
            ></ion-icon>
            <ion-label>{{child.label}}</ion-label>
          </ion-item>
          <ion-list class="sub-item" *ngIf="child.open">
            <ion-item
              *ngFor="let subChild of child.subChildren"
              (click)="onSelectCours(child.title,subChild.title,subChild.id)"
            >
              <ion-icon [name]="subChild.icon" slot="start"> </ion-icon>
              <ion-label> {{subChild.label}} </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
