<app-header></app-header>

<ion-content *ngIf="contentCours">
  <div class="cours-header-content">
    <div class="cours-title-principal-container">
      <h1 class="cours-principal-title">{{contentCours.title}}</h1>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <h2>{{contentCours.title}}</h2>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src="{{contentCours.image_url}}"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="sub-title">{{contentCours.desc_title_cours}}</h2>
      </ion-col>
    </ion-row>
    <div *ngFor="let parag of contentCours.paragraphs">
      <ion-row>
        <ion-col>
          <p>{{parag}}</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
