<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides;">
      <ion-img src="{{slide.url}}"></ion-img>
    </ion-slide>
  </ion-slides>
  <div style="background-color: #d6d6d6">
    <ion-grid
      [fixed]="true"
      style="background-color: #d6d6d6"
      class="body-header"
    >
      <ion-row>
        <ion-col>
          <h2>SHOP PRODUKTE</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let shop of shops;">
        <ion-row>
          <ion-col>
            <ion-img src="{{shop.url}}"></ion-img>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col>
          <h2>SCHWARZES BRETT</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col disabled="true">
          <ion-icon name="gift" size="large"></ion-icon>
          <h3>Gutscheine</h3>
          <p>
            Online Ausfüllen und per email an info@wasserschule.de oder per
            Telefon 09131/9703864
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="help-buoy" size="large"></ion-icon>
          <h3>Open Water plan</h3>
          <p>Hier geht es zum aktuellen Plan!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="people" size="large"></ion-icon>
          <h3>Job Gefällig?</h3>
          <p>Anklicken und stöbern!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col disabled="true">
          <ion-icon name="information-circle-outline" size="large"></ion-icon>
          <h3>ALLGEMEINE INFORMATION</h3>
          <p>Alle Kurse finden im 32°C warmen Wasser statt!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col disabled="true">
          <ion-icon name="call" size="large"></ion-icon>
          <h3>BÜRO : TELEFONNUMMER</h3>
          <p>09131/9703864</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div style="background-color: #255173">
    <ion-grid
      [fixed]="true"
      style="background-color: #255173"
      class="footer-header"
    >
      <ion-row>
        <ion-searchbar></ion-searchbar>
      </ion-row>
      <ion-row>
        <ion-col><h3>KONTAKT, IMPRESSUM, AGB`S, PP</h3></ion-col>
      </ion-row>
      <ion-row><br /></ion-row>
      <ion-row>
        <ion-col>Kontakt</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Impressum</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>AGB</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Privacy Policy Shop</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Wir nutzen den Google Translator!</ion-col>
      </ion-row>
      <ion-row class="icon">
        <ion-col size="4">
          <ion-icon name="logo-paypal" size="large"></ion-icon>
        </ion-col>
        <ion-col size="4"
          ><ion-icon name="logo-facebook" size="large"></ion-icon
        ></ion-col>
        <ion-col size="4"
          ><ion-icon name="logo-instagram" size="large"></ion-icon
        ></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-title size="small">DIE WASSERSCHULE ERLANGEN</ion-title>
          </div>
          <p>
            Herzlich willkommen in unserer Schwimmschule – die umfasst den
            gesamten Bereich vom Alter 3 Monate bis zu den Senioren.
          </p>
          <p>
            Babyschwimmen nur mit einem Elternteil oder beiden Eltern . Die
            Wasserschule bietet Babyschwimmen ab 3 Monate – genannt Mamba, oder
            mit Mama & Papa – genannt Ma & Pa in den unterschiedlichsten
            Altersstufen an. Unsere Kleinkinder von 1 – 2 Jahren, genannt
            Aquakids, folgen dann die 2 – 3 jährigen – genannt 2+.
          </p>
          <p>
            Für diese Kurse benötigen Sie unsere Aquawindeln, die sie in den
            Größen S, M oder L vor Ort kaufen können. Weitere Produkte finden
            Sie in unserem Shop wie Flipper Schwimmhilfen, Babyöl (sanft wie
            Seidenpfote), DVD – Babyswimming, Badeanzug.
          </p>
          <div>
            <ion-title size="small">DIE WASSERSCHULE ERLANGEN</ion-title>
          </div>
          <p>
            Die 3-4 jährigen – genannt Aquamaxis ,werden bereits für die
            Schwimmlernkurse , genannt Wasserratten , vorbereitet. Nach
            Erlangung des Seepferchen – Abzeichens, kann noch der Trixikurs mit
            Abzeichen /Trixi absolviert werden.
          </p>
          <p>
            Auch unsere 4 – 7 jährigen aus einem Kindergarten finden in unserer
            Schwimmschule einen eigenen Kurs. Das Freistil Schwimmen, früher
            Kraulschwimmen genannt, rundet das Gesamtkonzept des
            Kinderschwimmens ab.
          </p>
          <p>
            In allen bayrischen Schulferien finden die Ferienschwimmkurse statt.
            Diese sind von Montag bis Freitag, 90 Minuten pro Tag und 10 Tage
            lang.
          </p>
          <p>
            Die Erwachsenenkurse bestehen aus Personaltraining,
            Anfängerschwimmen, Freistil, Aquacycling mit eigenen Fahrrädern und
            Aquaschuhe bitte dafür mitbringen.
          </p>
          <div>
            <ion-title size="small">DIE WASSERSCHULE ERLANGEN</ion-title>
          </div>
          <p>
            Ganz neu im Angebot sind unsere SUP Kurse ( stand up paddling ) auf
            den SUP boards, die Fitness und Krafttraining miteinander verbinden.
          </p>
          <p>
            Aquafitness – auch für Schwangere und noch viele andere Aquakurse ,
            die sie bitte auf dieser homepage einsehen können.
          </p>
          <p>
            Die Anmeldungen für die unterschiedlichen Kurse können Sie einfach
            über unseren Wasserplan vornehmen.
          </p>
          <p>
            Wir bilden Sie auch zu einem Babyschwimmlehrer/in aus, und bieten
            dafür sowohl die Theorie – online, als auch die Praxis vor Ort an.
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <p>ASSERSCHULE ERLANGEN, ALL RIGHTS RESERVEDW</p>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
