<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let cours of courses">
    <img src={{cours.image}} alt= "swimming lessons"/>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{cours.title}}</ion-label>
      <ion-button fill="outline" slot="end">Subscribe</ion-button>
    </ion-item>
    <ion-card-content>
      {{cours.content}}
      <ion-badge slot="end">{{cours.hour}}</ion-badge>
    </ion-card-content>
  </ion-card>
</ion-content>
