<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides;">
      <ion-img
        src="{{slide.url.replace('localhost','192.168.1.173')}}"
      ></ion-img>
    </ion-slide>
  </ion-slides>
  <div style="background-color: #d6d6d6">
    <ion-grid
      [fixed]="true"
      style="background-color: #d6d6d6"
      class="body-header"
    >
      <ion-row>
        <ion-col>
          <h2>SHOP PRODUKTE</h2>
        </ion-col>
      </ion-row>
      <div *ngFor="let shop of shops;">
        <ion-row>
          <ion-col>
            <ion-img
              src="{{shop.url.replace('localhost','192.168.1.173')}}"
            ></ion-img>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col>
          <h2>SCHWARZES BRETT</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col disabled="true">
          <ion-icon name="gift" size="large"></ion-icon>
          <h2>Gutscheine</h2>
          <p>
            Online Ausfüllen und per email an info@wasserschule.de oder per
            Telefon 09131/9703864
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="help-buoy" size="large"></ion-icon>
          <h2>Open Water plan</h2>
          <p>Hier geht es zum aktuellen Plan!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="people" size="large"></ion-icon>
          <h2>Job Gefällig?</h2>
          <p>Anklicken und stöbern!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col disabled="true">
          <ion-icon name="information-circle-outline" size="large"></ion-icon>
          <h2>ALLGEMEINE INFORMATION</h2>
          <p>Alle Kurse finden im 32°C warmen Wasser statt!</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col disabled="true">
          <ion-icon name="call" size="large"></ion-icon>
          <h2>BÜRO : TELEFONNUMMER</h2>
          <p>09131/9703864</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-footer></app-footer>
</ion-content>
